<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ form.csrf_token }}
    {% if current_user.is_authenticated %}
    <form method="POST" action="/change-password">
        <P>{{form.password.label()}} {{form.password()}}</P>
        <p>{{form.newPassword.label()}} {{form.newPassword()}}</p>
        <P>{{form.newPassword2.label()}} {{form.newPassword2()}}</P>
        <p>{{form.submit()}}</p>
    </form>
        {{message}} <br>
    {% else %}
        <div> Вы не авторизованы</div>
    {% endif %}
</body>
</html>